.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    overflow-x: hidden;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lavenderblush;
}

h2 a{
    text-decoration: none;
    margin-left: 800px;
    color: #99d9ea;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
}

h1 a{
    padding: 10px;
    border-radius: 10%;
    border: 2px solid #99d9ea;
    text-decoration: none;
    color: #99d9ea;
    margin-left: 10px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 40px;
}
/* header > div {
    position: relative; */
/* } */
/* .nav-menu-hamburguer{
    position: absolute;
} */

.logo{
    height: auto;
    width: 150px;

}
.icones-1{
    width: 45px;
    margin:0;
    height: auto;
    padding-bottom: 5px;
    padding-right: 5px;
}
.icones-2{
    width: 45px;
    margin: 0;
    height: auto;
    padding-bottom: 5px;
}
.icones-3{
    width:40px;
    margin: 0;
    height: auto;
}
.icones-4{
    width: 30px;
    margin: 0;
    height: auto;
    margin-bottom: 6px;
}

.links{
    font-size: 20px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    height: auto;
    display: flex;
    align-items: center ;
    justify-content: center;
    margin-bottom: 7px;
    padding-left: 40px;
    margin-top: 15px;
}
.link-1{
    display: flex;
    font-size: 20px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    height: 50px;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}
.link-2{
    display: flex;
    font-size: 20px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    height: 50px;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
}
.link-3{
    display: flex;
    font-size: 20px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    height: 50px;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
}
.link-4{
    display: flex;
    font-size: 20px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    height: 50px;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
}
.header-1{
    text-decoration: none;
    background-color: #000000;
    margin:0;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.menu-hamburguer{
    align-items: center;
    border-radius: 10%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    width: 30px;
}

.traco{
    background-color: white;
    border-radius: 30px;
    display: block;
    height: 3px;
    margin: 4px 0;
    transition: 0.5s;
    width: 100%;
}

.traco-1 .traco-3{
    transform-origin: right center;
}
.nav-menu-hamburguer{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
   transform: translateX(-100%);
   transition: 1s;
   background-color: #000000;
}
.nav-menu-hamburguer a{
    text-decoration: none;
    color: white;
    font-family: 'Sniglet', cursive;
}

.menu-hamburguer.ativo .traco-1{
    transform: rotateZ(-45deg);
    transform-origin: center right;
}
.menu-hamburguer.ativo .traco-2 {
    opacity: 0;
}
.menu-hamburguer.ativo .traco-3{
    transform: rotateZ(45deg);
    transform-origin: center right;
}
.visible{
    transform: translateX(0);
}
.maps{
    width: 60px;
    margin: 0;
    height: auto;
}
.uber{
    width: 60px;
    margin: 0;
    height: auto;
}
.noventa{
    width: 60px;
    margin: 0;
    height: auto;
}
.cabify{
    width: 100px;
    padding: 30px;
    margin: 0;
    height: auto;
}
.empresas-flex{
    height: auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-bottom: 22px;

}
.botao{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo-home{
    margin: 0 15px;
}

.texto-sobre{
    height: 15vh;
    padding-top: 10px;
    margin: 0 15px;
    font-family: 'Artifika', serif;

}
.texto-home{
    padding: 0px 70px;
    margin: 0 15px;
    font-family: 'Artifika', serif;
}

.imagem1{
    height: auto;
    width:720px;
    display: flex;
    align-items: center;
   justify-content: center;
   margin-left: 300px;
   padding-top: 20px;
}
.imagem1 img{
    width: 50%;
}
.imagem2{
    width: 90vw;
    display: flex;
    justify-content: center;
   ;
    padding-bottom: 10px;
}
.imagem2 img{
    width: 50%;
    padding-left: 119px;
}

.text-ass{
    margin: 0 15px;
    padding-top: 23px;
    font-family: 'Artifika', serif;
}

footer{
    background-color: black;
    display: flex;
    height: auto;
    justify-content: center;
    width: 100%;
}
.contato{
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 90px;
    padding: 2px;
    width: 50%;
}
.contato a{
    color:white;
    font-family: 'Artifika', serif;
    font-size: 15px;
    text-decoration: none;
}

.imgHeader img {
    width: 65%;
}

.imagembaixo img {
    height: auto;
    width: 350px;
    padding-bottom: 10px;
}

.texto-contato h1 {
    font-family: 'Artifika', serif;
    display: flex;
    color: black ;
    align-items: center;
    justify-content: center;
}

.texto-contato p{
    font-family: 'Artifika', serif;
    display: flex;
    color: black;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    
}
img{
    height: auto;
    width: 70px;
}
.img-contato{
    align-items: center;
    
}
.nomes{
    margin: 10px 30%; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 15pX groove midnightblue;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 10px;
    color:#99d9ea;
    background-color: black;
}
.img-footer{
    height: auto;
    width: 50px;
    padding-top: 15px;

}
.p-text{
    color: aliceblue;
    font-family: 'Artifika', serif;
    font-size: 15px;
   align-items: center;
   justify-content: center;
 
}

.text{
    align-items: center;
    justify-content: center;
}
.text6{
    margin: 0 15px;
   font-family:'Artifika', serif;
}


.forms{
    padding-bottom: 10px;
    padding-top:10px;
    border:15px groove midnightblue;
    margin: 100px 250px;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(8, 7, 7); */
    color: black;
}

.forms input{
     margin:0 15px; 
    align-items: center; 
    justify-content: center; 
    border-radius: 10px;
    height: 30px;
    font-size: 12pt;
    
}

.forms textarea {
    resize: none;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 12pt;
    
}

.textcada{
    margin:0 15px;
}

.campanha{
    margin: 0 15px;
    font-family: 'Artifika', serif;
} 
.text2 p{
    color: blue;
}
.fundo{
      background-color: black;
     padding-bottom: 5px;
     padding-top: 5px;
     margin: 100px 100px;
     margin-bottom: 10px;
} 
@media (min-width: 425px){
    header {
        display: block;
    }
    .header-1{
        display: flex;
         width: auto;
         height: 90px;
         padding: 0;
         /* margin-left: 10px; */
         /* margin-top: 10px; */
    }
    

    /* .header-1 h2{
         display: flex;
         /* width: auto; */
         /* height: 90px;
         padding: 0;
    }


    .menu-hamburguer{
        align-items: center;
        border-radius: 10%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 20px; */
        /* width: 30px;
    } */ 

    

    
    /* .footers{
         display: flex; */
         /* width: auto;
         height: 90px;
         padding: 0; */
         /* margin-left: 10px;
         margin-top: 10px; */
    
    /* .contato a{
         display: block;
         width: auto;
         height: 90px;
         padding: 0; */
    }   
    /* .p-text p{
         display: flex;
         width: auto;
         height: 90px;
         padding: 0;
         
    }
} */