body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 a{
    text-decoration: none;
    margin-left: 800px;
    color: #99d9ea;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
}

h1 a{
    text-decoration: none;
    color: #99d9ea;
    margin-left: 10px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 40px;
}
/* header > div {
    position: relative; */
/* } */
/* .nav-menu-hamburguer{
    position: absolute;
} */
img{
    height: auto;
    width: 100%;
}
.logo{
    height: auto;
    width: 150px;

}
.icones-1{
    width: 40px;
    margin:0;
    height: auto;
}
.icones-2{
    width: 60px;
    margin: 0;
    height: auto;
}
.icones-3{
    width: 60px;
    margin: 0;
    height: auto;
}
.icones-4{
    width: 80px;
    margin: 0;
    height: auto
}

.links{
    padding: 200px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    display: flex;
    align-items: center ;
    justify-content: space-around;
}
.link-1{
    display: flex;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
}
.link-2{
    display: flex;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
}
.link-3{
    display: flex;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
}
.link-4{
    display: flex;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
}
.header-1{
    text-decoration: none;
    background-color: #000000;
    margin:0;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.menu-hamburguer{
    align-items: center;
    border-radius: 10%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    width: 30px;
}

.traco{
    background-color: white;
    border-radius: 30px;
    display: block;
    height: 3px;
    margin: 4px 0;
    transition: 0.5s;
    width: 100%;
}

.traco-1 .traco-3{
    transform-origin: right center;
}
.nav-menu-hamburguer{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
   transform: translateX(-100%);
   transition: 1s;
   background-color: #000000;
}
.nav-menu-hamburguer a{
    text-decoration: none;
    color: white;
    font-family: 'Sniglet', cursive;
}

.menu-hamburguer.ativo .traco-1{
    transform: rotateZ(-45deg);
    transform-origin: center right;
}
.menu-hamburguer.ativo .traco-2 {
    opacity: 0;
}
.menu-hamburguer.ativo .traco-3{
    transform: rotateZ(45deg);
    transform-origin: center right;
}
.visible{
    transform: translateX(0);
}
.uber{
    width: 100px;
    margin: 0;
    height: auto;
}
.noventa{
    width: 90px;
    margin: 0;
    height: auto;
}
.cabify{
    width: 100px;
    padding: 30px;
    margin: 0;
    height: auto;
}
.empresas-flex{
    height: auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.botao{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
