.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    overflow-x: hidden;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
}

h2 a{
    text-decoration: none;
    margin-left: 800px;
    color: #99d9ea;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
}

h1 a{
    text-decoration: none;
    color: #99d9ea;
    margin-left: 10px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 40px;
}
/* header > div {
    position: relative; */
/* } */
/* .nav-menu-hamburguer{
    position: absolute;
} */

.logo{
    height: auto;
    width: 150px;

}
.icones-1{
    width: 50px;
    margin:0;
    height: auto;
}
.icones-2{
    width: 55px;
    margin: 0;
    height: auto;
}
.icones-3{
    width:50px;
    margin: 0;
    height: auto;
}
.icones-4{
    width: 40px;
    margin: 0;
    height: auto;
    margin-bottom: 6px;
}

.links{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    display: flex;
    align-items: center ;
    justify-content: center;
    margin-bottom: -7px;
    margin-top: 15px;
}
.link-1{
    display: flex;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
}
.link-2{
    display: flex;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
}
.link-3{
    display: flex;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
}
.link-4{
    display: flex;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
}
.header-1{
    text-decoration: none;
    background-color: #000000;
    margin:0;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.menu-hamburguer{
    align-items: center;
    border-radius: 10%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    width: 30px;
}

.traco{
    background-color: white;
    border-radius: 30px;
    display: block;
    height: 3px;
    margin: 4px 0;
    transition: 0.5s;
    width: 100%;
}

.traco-1 .traco-3{
    transform-origin: right center;
}
.nav-menu-hamburguer{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
   transform: translateX(-100%);
   transition: 1s;
   background-color: #000000;
}
.nav-menu-hamburguer a{
    text-decoration: none;
    color: white;
    font-family: 'Sniglet', cursive;
}

.menu-hamburguer.ativo .traco-1{
    transform: rotateZ(-45deg);
    transform-origin: center right;
}
.menu-hamburguer.ativo .traco-2 {
    opacity: 0;
}
.menu-hamburguer.ativo .traco-3{
    transform: rotateZ(45deg);
    transform-origin: center right;
}
.visible{
    transform: translateX(0);
}
.maps{
    width: 100px;
    margin: 0;
    height: auto;
}
.uber{
    width: 90px;
    margin: 0;
    height: auto;
}
.noventa{
    width: 90px;
    margin: 0;
    height: auto;
}
.cabify{
    width: 100px;
    padding: 30px;
    margin: 0;
    height: auto;
}
.empresas-flex{
    height: auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-bottom: 22px;
}
.botao{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo-home{
    margin: 0 15px;
}

.texto-sobre{
    height: 15vh;
    padding-top: 10px;
    margin: 0 15px;

}
.texto-home{
    padding: 0px 70px;
    margin: 0 15px;
}

.imagem1{
    height: auto;
    width:720px;
    display: flex;
    align-items: center;
   justify-content: center;
   margin-left: 300px;
}
.imagem1 img{
    width: 50%;
}
.imagem2{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.imagem2 img{
    width: 40%;
}

footer{
    background-color: black;
    display: flex;
    height: auto;
    justify-content: center;
    width: 100%;
}
.contato{
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 90px;
    padding: 2px;
    width: 50%;
}
.contato a{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-decoration: none;
}

.imgHeader img {
    width: 65%;
}

.imagembaixo {
    height: auto;
    width: 100%;
}