{% extends 'layout.html' %}
{% load staticfiles %}

{% block content %}
<div class="textcada">
    <p>
        Por que existe cadastro no together?</p>
    <p>O cadastro no together serve para que você(usuário) faça suas atualizações na plataforma, contando os relatos
        vivenciados pela sua pessoa ou com terceiros , além de ganhar cupom de desconto pelos aplicativos privados, que
        por sua vez está vinculado conosco.
    </p>
</div>
<form action="." method="POST">

    <div class="forms">
       <p class="img10"href=""> <img src="https://image.flaticon.com/icons/png/512/23/23716.png" alt="{{item.nome}}"> *Foto de Perfil é opcional*</p>
        {% csrf_token %}
        {{ form.as_p }}
        <button>Adicionar</button>
    </div>
</form>

{% endblock %}