{% extends 'layout.html' %}
{% load staticfiles %}

{% block content %}
<div class="texto-sobre">
    <p>
        Pelo menos quatro em cada dez brasileiras já relataram ter sofrido assédio sexual, segundo pesquisa Datafolha
        divulgada neste sábado (23). O instituto mostrou que o índice de mulheres que já
        vivenciaram o problema é de 42%.</p>
    <p>A pesquisa entrevistou 1.427 brasileiras com 16 anos ou mais em novembro. A margem de erro é de dois pontos
        percentuais.</p>
</div>
<div class="imagem1">
    <img src="http://www.sinttelba.com.br/ckfinder/images/ab.jpg" alt="">

</div>
<div class="text-ass">
    <p>
        O índice de mulheres que relatam ter sofrido assédio sexual sobe para 45% se consideradas apenas as mulheres de
        16 a 24 anos. Em relação ao nível de escolaridade, o percentual é maior entre as mulheres com nível superior –
        44%, contra 13% das mulheres que têm até o ensino fundamental.</p>

    <p> Segundo o levantamento, o assédio acontece com maior frequência na rua e no transporte público.

    </p>
</div>
<div class="imagem2">
    <img src="https://cdn1.newsplex.pt/fotos/2018/3/8/629423.PNG?type=Artigo" alt="">
</div>

<div class="text6">
    <p> 
        A pesquisa revelou também que os relatos de assédio são maiores conforme o tamanho da cidade. Nos municípios com
        até 50 mil habitantes, 30% dizem ter sido vítimas, enquanto nos que têm mais de 500 mil habitantes, a taxa sobe
        para 57%.
    </p>
</div>

 {% endblock %}